* {
    all: unset;
}

head,
script {
    display: none;
}

body,
header,
article,
div,
p,
a,
img,
blockquote {
    display: block;
}

body {
    margin-bottom: 8em;
    line-height: 3em;
    background-color: red;
    text-align: center;
}

header {
    text-align: left;
}

#bio,
blockquote {
    line-height: 1.5em;
}

blockquote {
    margin: 1em 30px;
}

header>a,
header>h1 {
    display: inline-block;
}

a,
article {
    cursor: pointer;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
    margin: auto;
}

a,
h1 {
    padding: 1em;
}

article {
    margin: 1em auto;
    padding: 1.5em 20px;
}

#image {
    width: fit-content;
    margin: 1em 10px;
    padding: 2em 20px;
}

article,
a.buy,
#image {
    background-color: rgba(9, 9, 9, .1);
    border-radius: 1em;
}

article>p:first-of-type,
a.buy {
    margin-top: 1em;
}

main>a.buy {
    padding: 1em 30px;
    margin: 8em auto 11em auto;
    width: fit-content;
}

main h1 {
    margin: 3em auto 8em auto;
}

main>img {
    margin: 8em auto;
}

#image,
main>img:first-of-type {
    max-width:50%;
}

article.combo {
    max-width: 50%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 300px));    
    justify-content: center; 
    gap: 20px; 
    margin: 0 auto;
}

#nav,
#image {
    float: left;
}

#bio{
    margin: 1em 30px;
    white-space: pre-wrap;
    text-align: left;
}

#bio a,
blockquote a {
    display: inline;
    padding: 0;
    text-decoration: underline;
}