body {margin-bottom:8em;font-size:1.3em;}

article {
    cursor: pointer;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

@media (orientation: landscape) {
    img {
        max-height: 100vh;
    }
}